<!DOCTYPE html>
<html>
  <head>
    <title>生活コストの最適化アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">生活コストの最適化アプリ</a></h1>
        <div class="user_nav grid-6">
          <a class="post" href="/users/new">新規登録</a>
          <a class="post" href="/users/new">ログイン</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Grab Your Dreams!
      </p>
    </footer>
  </body>
</html>